<table class="table table-zebra w-full">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th *ngIf="locationService.isActive(0)">Location</th>
      <th class="">Date Added</th>
      <td>Out Of Stock</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
        let item of inventoryService.items()
          | activeItems : locationService.activeLocation()
          | searchFilter : inventoryService.search()
      ">
      <td>
        <div class="flex flex-row">
          <a class="mr-2" [routerLink]="['/', 'item', item.id, 'edit']">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
          </a>
          <span>{{ item.brand }} {{ item.name }}</span>
        </div>
      </td>
      <td>
        <app-count-manager [item]="item"></app-count-manager>
      </td>
      <td *ngIf="locationService.isActive(0)">{{ item.location?.name }}</td>
      <td>{{ item.dateAdded | displayDate }}</td>
      <td class="flex flex-col">
        <app-out-of-stock-button [item]="item"></app-out-of-stock-button>
      </td>
    </tr>
  </tbody>
</table>
