<table class="table table-zebra w-full">
  <thead>
  <tr>
    <th>ID</th>
    <th>Brand</th>
    <th>Name</th>
    <th>Location</th>
    <th>Date Removed</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of inventoryService.items | inactiveItems; let id = index;">
    <td>{{item.id}}</td>
    <td>{{item.brand ? item.brand : '-'}}</td>
    <td>{{item.name}}</td>
    <td>{{item.location?.name}}</td>
    <td>{{item.removedDate | displayDate}}</td>
    <td class="flex flex-col">
      <button (click)="inventoryService.delete(item.id)" class="btn btn-outline btn-circle btn-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-4 h-4 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </td>
  </tr>
  </tbody>
</table>
