<div class="xl:container xl:mx-auto">

  <app-table-container title="Inventory" [showTable]="inventoryService.hasActiveItems()">

    <app-item-cards></app-item-cards>

    <div class="tableFilter">
      <app-inventory-filter *ngIf="inventoryService.inventory.locations.length > 0"></app-inventory-filter>
    </div>

    <div class="filter">
      <app-filter (searchChanged)="inventoryService.search = $event"></app-filter>
    </div>

    <div class="noTableData">
      There's nothing to show
      <a [routerLink]="['/','item','create']" class="btn btn-ghost btn-sm rounded-btn bg-secondary hover:bg-secondary-focus text-secondary-content ml-3">
        Add Items
      </a>
    </div>

  </app-table-container>
</div>
