<form *ngIf="itemForm" [formGroup]="itemForm" (ngSubmit)="onFormSubmit(itemForm)">
  <div class="mb-4">
    <app-item-added-alert [item]="lastItem"></app-item-added-alert>
    <label class="block text-secondary-content text-sm font-bold mb-2" for="brand"> Brand </label>
    <input
      id="brand"
      name="brand"
      formControlName="brand"
      #brandName
      class="input input-bordered w-full bg-secondary text:secondary-content focus:outline-secondary"
      type="text"
    />
    <div
      class="input-error"
      *ngIf="
        itemForm.get('brand')?.invalid &&
        (itemForm.get('brand')?.dirty || itemForm.get('brand')?.touched)
      "
    >
      Please provide a brand.
    </div>
  </div>
  <div class="mb-4">
    <label class="block text-secondary-content text-sm font-bold mb-2" for="item"> Item </label>
    <input
      id="item"
      name="item"
      formControlName="item"
      #itemName
      class="input input-bordered w-full bg-secondary text:secondary-content focus:outline-secondary"
      type="text"
    />
    <div
      class="input-error"
      *ngIf="
        itemForm.get('item')?.invalid &&
        (itemForm.get('item')?.dirty || itemForm.get('item')?.touched)
      "
    >
      Please provide an item.
    </div>
  </div>
  <div class="mb-4">
    <label class="block text-secondary-content text-sm font-bold mb-2" for="quantity">
      Quantity
    </label>
    <input
      id="quantity"
      name="quantity"
      formControlName="quantity"
      class="input input-bordered w-full bg-secondary text:secondary-content focus:outline-secondary"
      type="text"
    />
    <div
      class="input-error"
      *ngIf="!itemForm.get('quantity')?.valid && itemForm.get('quantity')?.touched"
    >
      Please provide a number quantity.
    </div>
  </div>
  <div class="mb-4">
    <label class="flex text-secondary-content text-sm font-bold mb-2" for="quantity">
      <span style="margin-top: 2px"> Location </span>
      <a class="ml-3">
        <svg
          (click)="addLocation()"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </a>
    </label>
    <div class="flex flex-row">
      <select
        formControlName="location"
        class="select select-bordered w-full bg-secondary text:secondary-content focus:outline-secondary"
      >
        <option [ngValue]="null" disabled>Choose Location</option>
        <option
          *ngFor="let location of inventoryService.inventory().locations"
          [ngValue]="location.id"
        >
          {{ locationService.locationDisplayFormatter(location) }}
        </option>
      </select>
    </div>
    <div
      class="input-error"
      *ngIf="!itemForm.get('location')?.valid && itemForm.get('location')?.touched"
    >
      Please select a location.
    </div>
  </div>
  <app-item-added-alert [item]="lastItem"></app-item-added-alert>
  <div class="flex items-center justify-between">
    <button
      class="bg-secondary text:secondary-content hover:bg-neutral hover:text-neutral-content font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >
      Save Item
    </button>
  </div>
</form>

<app-add-location-modal [showModal]="showModal" (closeModal)="showModal = false">
</app-add-location-modal>
