<div class="modal" [ngClass]="{'modal-open': showModal}">
  <form *ngIf="newLocationForm" [formGroup]="newLocationForm" (ngSubmit)="saveLocation(newLocationForm)">
    <div class="modal-box bg-primary text-primary-content">
      <label class="block text-sm font-bold mb-2" for="newLocation">
        New Location
      </label>
      <input
        id="newLocation"
        name="newLocation"
        formControlName="newLocation"
        class="input input-bordered w-full max-w-xs bg-neutral text-neutral-content"
        type="text"
        placeholder="Location Name">
      <label class="block text-sm font-bold my-2" for="parent">
        Parent
      </label>
      <select id="parent" 
              name="parent" 
              formControlName="parent" 
              class="form-control w-full select select-bordered bg-neutral text-neutral-content">
        <option [value]="null">None</option>
        <option *ngFor="let location of locations()" [value]="location.id">{{location.name}}</option>
      </select>
      <div class="modal-action flex justify-center">
        <button
          type="submit"
          class="bg-neutral-content text-success font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Accept</button>
        <button
          (click)="cancel()"
          class="bg-neutral-content text-error font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Close</button>
      </div>
    </div>
  </form>
</div>
